.left-sidebar {
    width: 280px;
    min-width: 280px;
    padding-left: 50px;
}

.left-sidebar__info {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    height: 100%;
}

.left-sidebar__frame {
    position: relative;
    display: inline-block;
    padding: 15px;
    border: 1px solid rgb(75 75 75 / 50%);
    margin-bottom: 20px;
    width: 185px;
}


.left-sidebar__frame img {
    display: block;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.left-sidebar__userinfo h3 {
    font-size: 13px;
    font-weight: lighter;
    line-height: 13.58px;
    letter-spacing: 3px;
    color: var(--primary-4);
    padding-bottom: 5px;
}

.left-sidebar__userinfo p {
    font-family: "Big Shoulders Display", sans-serif;
    color: var(--primary-1);
    padding-bottom: 25px;
    line-height: 21.55px;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: bold;
}

.left-sidebar__availability {
    margin-bottom: 20px;
}

.left-sidebar__motto {
    margin-top: auto;
}

.left-sidebar__motto h3 {
    color: var(--primary-1);
}

.left-sidebar__motto p {
    font-size: 13px;
    padding-top: 5px;
    color: var(--primary-5);
}

.left-sidebar__top {
    display: none;
}