.lines {
    z-index: 5;
}

.line {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 1;
}

.line-left-top {
    left: 0;
    top: 0;
    border-top: 1px solid var(--primary-1);
    border-left: 1px solid var(--primary-1);
}

.line-right-top {
    right: 0;
    top: 0;
    border-top: 1px solid var(--primary-1);
    border-right: 1px solid var(--primary-1);
} 

.line-bottom-left {
    left: 0;
    bottom: 0;
    border-left: 1px solid var(--primary-1);
    border-bottom: 1px solid var(--primary-1);
}

.line-bottom-right {
    right: 0;
    bottom: 0;
    border-right: 1px solid var(--primary-1);
    border-bottom: 1px solid var(--primary-1);
}