.right-sidebar {
    width: 280px;
    min-width: 280px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.right-sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-sidebar__quest {
    font-family: "Big Shoulders Display", sans-serif;
    padding-left: 5px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    width: 196px;
    line-height: 21.55px;
    letter-spacing: 3px;
    font-weight: bold;
    border: 2px solid #E84A4A;
    background-color: var(--primary-1);
    color: white;
}


.right-sidebar__top {
    width: 100%;
    display: flex;
    position: relative;
}

.right-sidebar__social {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.right-sidebar__social li {
    position: relative;
    width: 92px;
    height: 82px;
    border: 1px solid rgb(75 75 75 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.right-sidebar__social li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.right-sidebar__social li .hover-line {
    display: none;
}

.right-sidebar__social li:hover .hover-line {
    display: block;
}

.right-sidebar__social li a svg {
    fill: var(--primary-1);
    width: 28px;
}

.right-sidebar__down {
    margin-top: auto;
}

.right-sidebar__subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    width: 196px;
    height: 30px;
    line-height: 13.58px;
    background-color: var(--primary-1);
    color: white;
    opacity: 0.4;
}

.right-sidebar__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-sidebar__sectiontitle {
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
}

.right-sidebar__questname {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 1.4rem;
    color: var(--primary-1);
    font-weight: bold;
    margin-bottom: 15px;
}

.right-sidebar__goaltext {
    font-size: 14px;
    color: #7A7A7A;
    line-height: 1.5;
    margin-bottom: 30px;
}

.right-sidebar__reward {
    display: flex;
    gap: 15px;
}

.right-sidebar__rewarditem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-sidebar__rewarditem img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.right-sidebar__rewarditem p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #7A7A7A;
}

.right-sidebar__setting {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.right-sidebar__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding-top: 15px;
    gap: 10px;
}

.right-sidebar__option span {
    font-family: "Big Shoulders Display", sans-serif;
    color: var(--primary-1);
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.right-sidebar__checkbox {
    width: 25px;
    height: 25px;
    border: 1px solid var(--primary-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-sidebar__checkbox::before {
    content: '';
    color: var(--primary-1);
    font-size: 14px;
}

.right-sidebar__checkbox.right-sidebar__checkbox--checked:before {
    content: '✔';
}

.right-sidebar__checkbox.right-sidebar__checkbox--unchecked:before {
    content: '✖';
}